@page
@model Bootstrap5FloatingLabelsExample.Pages.AboutModel
@{
}
<p>
    <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        About
    </button>
</p>

<div class="collapse" id="collapseExample">
    <div>
        In this example <mark>ppp</mark> is used to change the height of the floating label. Otherwise the code for floating labels is generic as per the official example using Razor Pages for accepting and posting.
    </div>
</div>