@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    h1:hover { color: gray; }
    h1:active { color: blue; }
</style>

<div class="container">

    <div class="alert alert-primary" role="alert">
        <h1 class="fs-5">Bootstrap dark/light mode</h1>
    </div>





</div>
