@page
@model Bootstrap5ModalExample.Pages.Dialog1Model
@{
}

<div class="d-flex align-items-center justify-content-center vh-100" >
    <div class="row justify-content-center ">
        <button class="btn btn-primary btn-lg" id="btn-confirm">Send message</button>
    </div>
</div>


<form method="post" class="w-25" id="messageForm">
    <input type="hidden" asp-for="Recipient" id="recipientName" />
    <input type="hidden" asp-for="Message" id="messageText" />
    <input type="hidden" asp-for="Accepted" id="acceptedFlag" />
    <input type="hidden" asp-for="AcceptedTerms" id="accept-terms" />
</form>

<div class="modal fade" id="mi-modal" tabindex="-1"
     data-bs-backdrop="static"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name" asp-for="Recipient">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text" asp-for="Message"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="accept-terms" class="col-form-label">Accept:</label>
                        <input type="checkbox" id="accept-terms1"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="modal-btn-no">Close</button>
                <button type="button" class="btn btn-primary" id="modal-btn-yes">Send message</button>
            </div>
        </div>
    </div>

</div>

@section Scripts
{
    <script>


        var modalConfirm = function (callback) {
            var modal = new bootstrap.Modal(document.getElementById("mi-modal"));

            document.getElementById("btn-confirm").addEventListener("click", function () {
                modal.show();
            });

            document.getElementById("modal-btn-yes").addEventListener("click", function () {
                callback(true);
                modal.hide();
            });

            document.getElementById("modal-btn-no").addEventListener("click", function () {
                callback(false);
                modal.hide();
            });
        };
        modalConfirm(function (confirm) {
            if (confirm) {
                document.getElementById("recipientName").value = document.getElementById("recipient-name").value;
                document.getElementById("messageText").value = document.getElementById("message-text").value;
                document.getElementById("acceptedFlag").value = true;
            } else {
                document.getElementById("acceptedFlag").value = false;
            }

            document.getElementById("accept-terms").value = document.getElementById("accept-terms1").checked;
            document.getElementById("messageForm").submit();

        });

    </script>
}