@page
@model Bootstrap5ModalExample.Pages.SocialSecurityPageModel
@{
}

<script src="lib/cleave.js"></script>

<div class="container">
    <div>
        <label for="ssn" class="form-label">SSN</label>
        <input class="form-control input-element"
               style="width: 8em"
               id="ssn"
               class="mt-1"
               type="text"
               name="ssn"
               value="111-22-1234"
               required/>
    </div>

    <label for="ssnMask" class="form-label mt-3">SSN masking</label>
    <input class='number form-control' id="ssnMask" style="width: 8em" />
</div>

@section Scripts
{
    <script>
        var cleave = new Cleave('.input-element', {
            blocks: [3, 2, 4],
            delimiter: '-'
        });

        $('.input-element').on('keydown keyup mousedown mouseup', function() {
            var res = this.value, //grabs the value
                len = res.length, //grabs the length
                max = 11, //sets a max chars
                stars = len>0?len>1?len>2?len>3?len>4?'XXX-XX':'XXX':'XXX-':'XX':'X':'',
                result = stars+res.substring(6); //this is the result
            $(this).attr('maxlength', max); //setting the max length
            $(".number").val(result); //spits the value into the input
        });
    </script>
}
