@page
@model BootstrapInputGroupValidateExample.Pages.Index1Model
@{
}

<style>
    body {
        background-image: url(/lib/images/dev_background.png);
        background-repeat: repeat;
        background-color: black;
    }

</style>


<div class="container-fluid">
    <h1><span>WorkSource Center</span> Central Office</h1>
</div>


<div class="container bg-white" style="margin-top: 1em;">

    <div>
        <h2><span>Registration - Personal Information</span></h2>
    </div>

    <hr class="hr1" />

    <label id="progressLabel" for="bogus" class="fs-4">Progress:</label>
    @* To apise accessility scans *@
    <input id="bogus" hidden="" />
    <div id="progressbar1" class="progress border border-black w-75">
        @* controlled via JavaScript - here it is static *@
        <div class="progress-bar"
             role="progressbar"
             style="width: 10%;"
             aria-valuenow="10"
             aria-valuemin="0"
             aria-valuemax="100">
            10%
        </div>

    </div>

    <form class="row g-3 mt-1 needs-validation" method="post" novalidate>

        <div class="col-md-4">
            <label for="FirstName" class="form-label">First name</label>
            <input type="text" class="form-control" id="FirstName" value="Karen">
        </div>

        <div class="col-md-3">
            <label for="middlename" class="form-label">Middle name</label>
            <input type="text" class="form-control" id="middlename">
        </div>

        <div class="col-md-4">
            <label for="lastname" class="form-label">Last name</label>
            <input type="text" class="form-control" id="lastname" value="Payne">
        </div>


        <div class="col-lg-2">
            <label for="mainname" class="form-label">Maiden Name</label>
            <input type="text" class="form-control" id="mainname">
        </div>


        <div class="row mt-2">
            <div class="col-lg-2">
                <label for="suffix" class="form-label">Suffix</label>
                <select id="suffix" class="form-select">
                    <option selected>Select</option>
                    <option>I</option>
                    <option>II</option>
                    <option>III</option>
                    <option>IV</option>
                </select>
            </div>
        </div>

        <hr class="hr1" />

        <div class="col-lg-2">
            <label for="ssn" class="form-label">SSN:</label>
            <input type="text" class="form-control border-0 ps-0" id="ssn" disabled readonly value="XXX-XX-XXXX">
        </div>

        <hr class="hr1" />

        <div class="row mt-2">
            <div class="col-lg-2">
                <label for="birthdate" class="form-label">Birth Date (MM/DD/YYYY):</label>
                <input type="date" class="form-control border-0 ps-0" id="birthdate" value="2018-07-22">
            </div>

            <div class="col-lg-2">
                <label for="birthdate_confirm" class="form-label">Confirm Birth Date (MM/DD/YYYY):</label>
                <input type="date" class="form-control border-0 ps-0" id="birthdate_confirm" value="2018-07-22">
            </div>
        </div>

        <hr class="hr1" />

        <fieldset class="border border-dark p-3 ms-2 mt-4" style="width: 28em;">

            <legend class="float-none w-auto px-1" id="genderLegend">
                Gender
            </legend>

            <div class="form-check form-check-inline">
                <input class="form-check-input"
                       type="radio"
                       name="gender_selection"
                       id="male"
                       value="M">

                <label class="form-check-label" for="male">Male</label>

            </div>

            <div class="form-check form-check-inline">

                <input class="form-check-input"
                       type="radio"
                       name="gender_selection"
                       id="female"
                       value="F">

                <label class="form-check-label" for="female">Female</label>

            </div>

            <div class="form-check form-check-inline">

                <input class="form-check-input"
                       type="radio"
                       name="gender_selection"
                       id="other"
                       value="X">

                <label class="form-check-label" for="other">&nbsp;&nbsp;Choose Not to Disclose</label>

            </div>



        </fieldset>

        <div class="row mt-5 fs-4 d-flex justify-content-center">
            <div class="col-auto">
                WorkSource Oregon will not refuse to provide services to a customer that declines to provide their Social Security Number (SSN).
            </div>
            
        </div>
        
        <div class="row fs-4 d-flex justify-content-center">
            
        </div>


        
        <div class="container-fluid d-flex justify-content-end mt-4 mb-5">

            <button type="button"
                    id="reset_button"
                    class="btn btn-outline-secondary rounded-pill bottom-button btn-lg me-2">
                Cancel
            </button>

            <button type="button"
                    id="convert_button"
                    class="btn btn-outline-primary rounded-pill bottom-button btn-lg">
                Next
            </button>

        </div>
        <div class="row justify-content-center fs-3">
            <div class="col-auto">
                Indicates a required field
            </div>
        </div>
        <div class="row d-flex justify-content-center fs-3">
            <div class="col-auto">
                All information collected is confidential and may be used for federal reporting purposes.
            </div>
        </div>
        <div class="row justify-content-center mt-2 mb-2">
            <div class="col-auto">
                <img src="https://www11.emp.state.or.us/graphics/jpg/wso_logo_121x40.jpg" width="189" height="65">
            </div>
        </div>
        

    </form>

</div>

<div id="bottomSlogan" class="container-fluid d-flex justify-content-end" style="">
    Where Employers & Job Seekers Connect
</div>

<script>
    (() => {
        'use strict';

        const forms = document.querySelectorAll('.needs-validation');

        Array.from(forms).forEach(form => {
            form.addEventListener('submit',
                event => {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                },
                false);
        });
    })()
</script>
