@page
@model Bootstrap5OffCanvasExample.Pages.StickySocialBarModel
@{
    ViewData["Title"] = "Sticky";
}

@* <script type="text/javascript" src="lib/enquire.js/enquire.min.js"></script> *@

<style>



</style>

<div class="bg-white sticky">
    <aside id="navAside">
        <div class="border p-3 text-center rounded shadow" style="background-color: #fbf6a8">
            <button class="custom-button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasBottom">
                Important notices
            </button>
        </div>
    </aside>
</div>


<div class="container">

    <h1 class="fs-3">Respond to Benefit</h1>

    @{
        foreach (var sentence in Model.MainSentences)
        {
            <p>@sentence.ToString()</p>
        }
    }
</div>


<div class="offcanvas offcanvas-bottom"
     id="offcanvasBottom"
     data-bs-scroll="true"
     data-bs-backdrop="false">

    <div class="offcanvas-header"
         style="background-color: #fbf6a8">

        <button type="button"
                class="btn-close text-reset"
                data-bs-dismiss="offcanvas"
                aria-label="Close">
        </button>

    </div>

    <div class="offcanvas-body border" style="background-color: #fbf6a8">
        @{
            foreach (var sentence in Model.NoticeSentences)
            {
                <p>@sentence.ToString()</p>
            }
        }
    </div>
</div>

