@page
@model IndexModel
@{
    ViewData["Title"] = "Sign in page";
}


<div class="border border-dark-subtle shadow p-2">
    <form>
        <h1 class="fs-5">Centered form</h1>
        <div class="mb-3">
            <label for="personalEmail" class="form-label">Email address:</label>
            <input type="email" class="form-control" id="personalEmail" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="agreeToTerms">
            <label class="form-check-label" for="agreeToTermss">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="lib/payne-debugger/debugHelper.js"></script>
<script>
    document.addEventListener('keydown', function (event) {

        if (event.key === '1' && event.altKey && event.ctrlKey) {
            // true for development environment, false for production
            $debugHelper.toggle(true);
        }

    });
</script>

