html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

html, body {
    height: 100%;
    margin: 0;
}

/* Wrapper ensures a full viewport height */
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ensures the entire height is used */
}

/* Main content area - fills available space */
.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    overflow-y: auto; /* Enables scrolling if needed */
}

.content label {
    align-self: flex-start; /* Aligns the label to the left */
    text-align: left; /* Ensures text inside the label is left-aligned */
    width: 100%; /* Makes the label take full width if necessary */
}
/* Sticky Footer */
.footer {
    padding: 5px 0;
    text-align: center;
    width: 100%;
    flex-shrink: 0; /* Prevents footer from shrinking */
}