html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
h1 {
    color: #a20915;
}

    h1 span {
        color: #a20915;
    }

.hr1 {
    border: 0;
    margin: 0;
    padding: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0));
}

#rules_text {
    color: #a20915;
    font-weight: bold;
}

#rules_text_bottom_head {
    color: #a20915;
    font-weight: bold;
}