@page
@model TryingNewFeatures.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<div class="container">
    @{
        await Html.RenderPartialAsync("_lightSwitchPage");
    }
    <div class="alert" role="alert" id="mainAlert">
        A simple primary alert—check it out!
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button class="btn" id="btnSubmit">OK</button>
        </div>
    </div>
</div>

@section Scripts
    {

    <script>

        document.addEventListener("DOMContentLoaded", () => {
            $themeHelper.setDocument(document);
            $themeHelper.changeMode();
            $themeHelper.toggleMode();
        });

        document.getElementById("lightSwitch").addEventListener("click", function () {
            $themeHelper.lightSwitchHandler();
            $themeHelper.toggleMode();
        });

    </script>
}
