@page
@model Bootstrap5ProgressBarExample.Pages.StandardPageModel
@{
}
<style>
    .progress {
        width: 400px;
    }

    #startButton, #resetButton {
        margin-top: 12px;
        width: 100px;
    }


</style>
<div class="container">
    <p>Automated progress bar from 0% to 100% in 10 seconds</p>
    <div class="progress">
        <div id="pb" class="progress-bar bg-success active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span id="current-progress"></span>
        </div>
    </div>
    
    <div>
        <button id="startButton" class="btn btn-sm btn-primary me-2">Start</button>
        <button id="resetButton" class="btn btn-sm btn-primary">Reset</button>
    </div>
    

</div>

@section Scripts
    {
    <script>

        document.getElementById("startButton").addEventListener("click", function () {
            $(function () {
                var currentProgress = 0;
                var interval = setInterval(function () {
                    currentProgress += 10;
                    $("#pb")
                        .css("width", currentProgress + "%")
                        .attr("aria-valuenow", currentProgress)
                        .text(currentProgress + "% Complete");
                    if (currentProgress >= 100)
                        clearInterval(interval);
                }, 1000);
            });
        });

        document.getElementById("resetButton").addEventListener("click", function () {
            $("#pb").css("width", "0%").attr("aria-valuenow", 0).text(0 + "%");
        });


    </script>
}
