@page
@model LoginFormsApp.Pages.Feathers1Model
@{
}

<div class="alert alert-primary" role="alert">
    <h1>Feather 1 sample</h1>
</div>
<div class="container">
    <div style="margin-top: 10em;">
        <label class="form-label" for="password">Password</label>
        <div class="col-4">
            <div class="input-group">

                <input class="form-control password" 
                       id="password" 
                       class="mt-1" 
                       type="password" 
                       name="password" 
                       value="secret!" required/>

                <span class="input-group-text togglePassword" id="password_feather">
                    <i data-feather="eye" style="cursor: pointer"></i>
                </span>
            </div>
        </div>
    </div>

</div>

@section Scripts {

    <script src="lib/feather.min.js"></script>

    <script>
        feather.replace({ 'aria-hidden': 'true' });

        $(".togglePassword").click(function (e) {

            e.preventDefault();
            var type = $(this).parent().parent().find(".password").attr("type");

            if (type === "password") {

                $("svg.feather.feather-eye").replaceWith(feather.icons["eye-off"].toSvg());
                $(this).parent().parent().find(".password").attr("type", "text");

            } else if (type === "text") {

                $("svg.feather.feather-eye-off").replaceWith(feather.icons["eye"].toSvg());
                $(this).parent().parent().find(".password").attr("type", "password");

            }
        });
    </script>
}