@page
@model LoginFormsApp.Pages.Login2Model
@{
}

<script src="lib/payne-debugger/debugHelper.min.js"></script>

<style>
    .pass_show {
        position: relative
    }

        .pass_show .ptxt {
            position: absolute;
            top: 50%;
            right: 10px;
            z-index: 1;
            color: #a20915;
            margin-top: -10px;
            cursor: pointer;
            transition: .3s ease all;
        }

            .pass_show .ptxt:hover {
                color: #333333;
            }
</style>

<div class="container-fluid">
    <h1 id="header1"><span>Update My Security</span></h1>
</div>

<hr class="hr1" />

<div class="container">

    <form role="form" class="mt-3">

        <div class="row">
            <div class="col-sm-3">

                <label for="current_password">Current Password</label>
                <div class="form-group pass_show">
                    <input type="password" id="current_password" value="faisalkhan@123" class="form-control" placeholder="Current Password">
                </div>

                <label for="new_password" class="mt-5">New Password</label>
                <div class="form-group pass_show">
                    <input type="password" id="new_password" value="@@SomePassword1" class="form-control" placeholder="New Password">
                </div>

                <label for="confirm_password" class="mt-5">Confirm Password</label>
                <div class="form-group pass_show">
                    <input type="password" id="confirm_password" value="@@SomePassword1" class="form-control" placeholder="Confirm Password">
                </div>

            </div>
            <div class="col-sm-3" style="margin-top: 3.5em; padding-left: 1em;">
                <p id="rules_text">Password Rules</p>
                <p>Password must be at least 8 characters long, contain at least one number, one uppercase letter, one lowercase letter, and one special character.</p>
            </div>


        </div>



    </form>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>




    /*
    * Karen code
    * CTRL+ALT+1 toggles adding/removing debugger.css
    */
    document.addEventListener('keydown', function (event) {

        if (event.key === '1' && event.altKey && event.ctrlKey) {
            $debugHelper.toggle();
        }

    });
</script>