@page
@using LoginFormsApp.Pages.Shared
@model LoginFormsApp.Pages.LoginWithEyeModel
@{
    Layout = "_Layout1"; ;
}

<link rel="stylesheet" href="css/eye1.css" asp-append-version="true" />

<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="lib/bootstrap-icons/font/bootstrap-icons.min.css"/>

<div class="container1">

    <h1>Sign In</h1>

    <form method="post" id="demoForm">
        <p>
            <label for="username">User name:</label>
            <input type="text" name="username" id="username">
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password"/>
            <i class="bi bi-eye-slash" id="togglePassword" aria-label="show hide password"></i>
        </p>
        <button type="submit"  id="submit" class="submit btn btn-primary">Log In</button>
    </form>
</div>


        
<script>
    const togglePassword = document.querySelector("#togglePassword");
    const password = document.querySelector("#password");

    togglePassword.addEventListener("click", function () {
        // toggle the type attribute
        const type = password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);
        // toggle the icon
        this.classList.toggle("bi-eye");
    });

    const form = document.querySelector("form");
    form.addEventListener('submit',function(e){
        e.preventDefault();
    });
</script>