@page
@using Bootstrap5MultiSelectExample.Classes
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">

    <div class="position-absolute top-50 start-50 translate-middle">

        <form method="post">

            <input type="hidden" asp-for="PizzaToppings" id="PizzaToppingsValue"/>
            <input type="hidden" asp-for="AllCondimentSelected" id="areAllSelected"/>

            <fieldset class="border border-danger border-opacity-25 p-3 text-primary">

                <legend class="float-none w-auto fs-6">Pizza tops</legend>
                @*
                required
                *@
                <select id="select-tops-options" required multiple="multiple">
                    @{
                        foreach (var condiment in MockedData.Condiments())
                        {
                            <option value="@condiment.Value">@condiment.Name</option>
                        }
                    }
                </select>

                <div>
                    <button id="resultsButton" class="btn btn-primary mt-3 w-100">Get selected</button>
                </div>

            </fieldset>

        </form>


    </div>

</div>


@section Scripts
{
    <script src="js/index.js"></script>
}
