@page
@using Bootstrap5MultiSelectExample.Classes
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link href="~/lib/limonte-sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="~/lib/limonte-sweetalert2/sweetalert2.min.js"></script>
<link rel="stylesheet" href="css/index.css"/>

<div class="container">

    <div class="position-absolute top-50 start-50 translate-middle">

        <form method="post">

            <input type="hidden" asp-for="PizzaToppings" id="PizzaToppingsValue"/>
            <input type="hidden" asp-for="AllCondimentSelected" id="areAllSelected"/>

            <fieldset class="border border-danger border-opacity-25 p-3 text-primary">

                <legend class="float-none w-auto fs-6">Pizza tops</legend>
                @*
                    required attribute will counter form post and present a message
                    indicating at least one option must be selected
                *@
                <select id="select-tops-options" required multiple="multiple">
                    @{
                        foreach (var condiment in MockedData.Condiments())
                        {
                            <option id="@condiment.Value" value="@condiment.Value" aria-checked="false">@condiment.Name</option>
                        }
                    }
                </select>

                <div>
                    <button id="resultsButton" class="btn btn-primary mt-3 w-100">Get selected</button>
                </div>

            </fieldset>

        </form>
        
    </div>

</div>


@section Scripts
{
    <script src="js/index.js"></script>
    @if (ViewData["message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {

                Swal.fire({
                    icon: 'info',
                    title: '@ViewData["message"]',
                    customClass: 'swal-sm',
                    showConfirmButton: false,
                    timer: 1500
                });
            };
        </script>
    }
}
