@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="container">
    <div class="position-absolute top-50 start-50 translate-middle">
        <form method="post">

            <input type="hidden" asp-for="PizzaToppings" id="PizzaToppingsValue"/>

            <fieldset class="border border-danger border-opacity-25 p-3 text-primary">

                <legend class="float-none w-auto fs-6">Pizza tops</legend>

                <select id="select-tops-options" multiple="multiple">
                    <option value="1">Cheese</option>
                    <option value="2">Tomatoes</option>
                    <option value="3">Mozzarella</option>
                    <option value="4">Mushrooms</option>
                    <option value="5">anchovies</option>
                    <option value="6">Pepperoni</option>
                    <option value="7">Onions</option>
                </select>

                <div>
                    <button id="resultsButton" class="btn btn-primary mt-3 w-100">Get selected</button>
                </div>

            </fieldset>

        </form>


    </div>
    
</div>


@section Scripts
{

    <script>

        document.addEventListener("DOMContentLoaded",
            () => {

                $('#select-tops-options').multiselect({
                    buttonClass: 'form-select',
                    nonSelectedText: 'Select toppings',
                    numberDisplayed: 5,
                    buttonWidth: '18em',
                    includeSelectAllOption: true,
                    //includeResetOption: true,
                    //selectAllName: 'select-all-name',
                    onChange: function(element, checked) {
                        var toppings = $('#select-tops-options option:selected');
                        var selected = [];
                        $(toppings).each(function(index, brand){
                            selected.push([$(this).val()]);
                        });
                        document.getElementById("PizzaToppingsValue").value = selected.join(',');
                    },
                    templates: {
                        button: 
                            '<button type="button" class="multiselect dropdown-toggle" ' +
                            'data-bs-toggle="dropdown"><span class="multiselect-selected-text"></span></button>',
                        resetButton: '<div class="multiselect-reset text-center p-2"><button type="button" class="btn btn-sm btn-danger"></button></div>'
                    }
                });

            });

        //document.getElementById("resultsButton").addEventListener("click",
        //    function() {

        //        //document.getElementsByClassName("multiselect-selected-text")[0].innerHTML.split(',').map(i => { return i; }).join(', ')

        //        if (document.getElementsByClassName("multiselect-selected-text")[0].innerHTML !== 'Select toppings') {
        //            var items = $('#select-tops-options option:selected').map(function(a, item) { return item.value; });

        //            for (var index = 0; index < items.length; index++) {
        //                console.log(items[index]);
        //            }

        //            document.getElementById("foot").innerHTML = `<strong>Selected</strong><span class='text-danger'>
        //                        ${document.getElementsByClassName("multiselect")[0].title}</span>`;                    
        //        } else {
        //            document.getElementById("foot").innerHTML = "<span class='text-danger fw-bold'>Please make your selections</span>";
        //        }

        //    });

        $('form').submit(function (e) {

            if (document.getElementsByClassName("multiselect-selected-text")[0].innerHTML !== 'Select toppings') {
                document.getElementById("foot").innerHTML = `<strong>Selected</strong><span class='text-danger'>
                            ${document.getElementsByClassName("multiselect")[0].title}</span>`;                    
            } else {
                document.getElementById("foot").innerHTML = "<span class='text-danger fw-bold'>Please make your selections</span>";
            }
            

        });


    </script>
}
