@page
@model Bootstrap5ColumnsExamples.Pages.Index1Model
@{
}
<style>

    #menu-main li {
        color: blue;
    }

    /*    ul {
        list-style-type: '⇨ ';
        
    }*/

    #menu-main a {
        /* first two colors for hover and last normal */
        background-image: linear-gradient( to right, darkgreen, darkgreen 50%, blue 50% );
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        padding: 5px 0;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
    }

    #menu-main a:before {
        content: '';
        background: #54b3d6;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
    }

    #menu-main a:hover {
        background-position: 0;
    }

    #menu-main a:hover::before {
        width: 100%;
    }
</style>

@*
Notes
    accesskey will be an alert with web accessibility tools which is fine to use if they
    do not conflict with other shortcuts.
*@

<div role="main" class="container">
    
    <h1 class="fs-5">Menu example</h1>

    <div class="row">
        <div class="col-auto">
            
            <fieldset class="border border-dark ps-2 pe-2 pb-0">

                <legend class="float-none w-auto fs-6 form-group">
                    IT Service Desk Request
                </legend>

                <ul id="menu-main">

                    <li><a href="#" accesskey="1">Application Development</a></li>
                    <li><a href="#" accesskey="2">Business Intelligence (BI) Changes</a></li>
                    <li><a href="#" accesskey="3">Database Changes</a></li>
                    <li><a href="#" accesskey="4">Website Domain Name Requests</a></li>

                </ul>

            </fieldset>
            
        </div>
    </div>
    

</div>
